.status-menunggu{
    background:#facc15;
    color:white;
    padding:5px 10px;
    border-radius:20px;
}

.status-datang{
    background:#2563eb;
    color:white;
    padding:5px 10px;
    border-radius:20px;
}

.status-selesai{
    background:#16a34a;
    color:white;
    padding:5px 10px;
    border-radius:20px;
}

.status-batal{
    background:#dc2626;
    color:white;
    padding:5px 10px;
    border-radius:20px;
}
