.invoice-card{
    background:white;
    padding:25px;
    border-radius:12px;
}

.total-payment{
    font-size:28px;
    font-weight:bold;
    color:#16a34a;
}

body{
    font-family: Arial, sans-serif;
    padding: 40px;
    background: #f9fafb;
}

.invoice{
    width: 750px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    padding: 8px;
    font-size: 14px;
}

hr{
    margin: 20px 0;
}

.total{
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.footer{
    margin-top: 40px;
    text-align: center;
    font-size: 13px;
    color: #666;
}

.label{
    font-weight: bold;
    width: 160px;
}